@import url('./reset.css');
@import url('./normalize.css');

:root {
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 16px */

    --cor-tema-principal: #fff;
    --cor-tema-secundaria: #085;
    --cor-tema-terciaria: #AF3;
    --cor-tema-erro: #F55;
    --cor-texto-footer: #666;
    --cor-texto-link: #333;
    --cor-sombras: #ccc;
    --cor-botao-compZap: #06f;
}

div {
    text-align: center;
}

h1 {
    margin: 0;
}

img:hover {
    cursor: pointer;
}

#fundo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#inicial {
    width: 100vw;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#iconeLista {
    height: 2rem;
    position: absolute;
    top: 70px;
    right: 50px;
}

#iconeLink {
    height: 1rem;
}

#imgLogo {
    height: 5rem;
    margin-top: 3rem;
}

.input {
    border-radius: 0.3rem;
    padding: 12px 20px;
    box-shadow: 0px 0px 5px var(--cor-sombras);
    border: none;
}

#divInput {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#inputUrl {
    width: 30%;
}

.botao {
    font-weight: bold;
    color: var(--cor-tema-principal);
    background-color: var(--cor-tema-secundaria);
    cursor: pointer;
}

a {
    cursor: pointer;
}

#divBotao {
    /* height: 6rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#divImgLoading {
    height: 16rem;
    align-items: center;
    /* width: 80%; */
}

#imgLoading {
    margin-top: 5px;
    height: 16rem;
}

.pLink,
.pData {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-texto-link);
}

.divLink {

    background-color: var(--cor-sombras);
    border-radius: 1rem;
    width: 40%;
}

.opcoes {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.iconeOpcoes {
    height: 1.2rem;
}


.divMensagem {
    /* width: 40%; */
    opacity: 0;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1rem;
    border-radius: 1em;
    position: absolute;
    left: 3rem;
    top: 10em;
}

/* #pMensagem {
    opacity: 0;
} */

.fadeIn {
    animation: fadeIn 0.5s 0.5s both;
}

.fadeOut {
    animation: fadeOut 0.5s 3s both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes appear {
    from {
        width: 0;
    }

    to {
        width: 100%
    }
}

@keyframes reveal {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.pLink {
    font-size: 1.5rem;
}

.pData {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--cor-texto-footer);
}

.iconRede {
    height: 3rem;
}

.divRedes {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

#divCompartilhamento {
    width: 40%;
}

.compZap {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

#numeroZap {
    width: 80%;
}

#botaoCompZap {
    background-color: var(--cor-botao-compZap);
}

.baixar {
    color: var(--cor-botao-compZap);
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.cancelar {
    background-color: var(--cor-tema-erro);
}

.divTabela {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pDominio {
    font-style: italic;
}

.tabela {
    width: 90vw;
    margin-top: 1rem;
    text-align: left;
    line-height: 1rem;
    font-size: 0.8rem;
}

th {
    color: var(--cor-tema-principal);
    background-color: var(--cor-texto-link);
}

th,
td {
    padding: 0.5rem;
}

thead {
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: var(--cor-tema-principal);
}

tr:nth-child(even) {
    background-color: var(--cor-sombras);
}

tr:hover {
    background-color: var(--cor-texto-footer);
    color: var(--cor-tema-principal);
}

.modalEdicao {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.5);
}

.quadroBranco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    position: absolute;
    /* height: 20vh; */
    width: 30vw;
    padding: 0.5rem;
    background-color: var(--cor-tema-principal);
}

.pModal {
    margin-top: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.inputsModal {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.inputModal {
    padding: 0.5rem;
}

.btnFechar {
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 1rem;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--cor-tema-erro);
    color: var(--cor-tema-principal);
}

.btnModal {
    padding: 0.3rem 0.6rem;
    border-radius: 1rem;
    font-size: 1rem;
}

.sucesso {
    color: var(--cor-tema-secundaria);
    background-color: var(--cor-tema-terciaria);
}

.erro {
    color: var(--cor-tema-principal);
    background-color: var(--cor-tema-erro);
}

.escondido {
    display: none;
}

footer {
    color: var(--cor-texto-footer);
}